# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Environment variables
.env

# Airflow
logs/
airflow/logs/

# Docker
postgres_data/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db